[Desktop Entry]
Exec=/home/loona/programming/scripts/launch_todo
Icon=dialog-scripts
Name=launch_todo
Path=
Type=Application
X-KDE-AutostartScript=true
