[Desktop Entry]
Exec=/home/loona/programming/scripts/setvdesktop
Icon=dialog-scripts
Name=setvdesktop
Path=
Type=Application
X-KDE-AutostartScript=true
