[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = MonEmperor
	email = 46490084+MonEmperor@users.noreply.github.com
[credential]
	helper = manager-core
